<p-card *ngIf="forecast" header="5-Day Forecast" styleClass="forecast-card">
  <div class="forecast-container">
    <div *ngFor="let day of dailyForecasts" class="forecast-day">
      <h4>{{ day.Date | date:'EEE, MMM d' }}</h4>
      <img [src]="getIconUrl(day.Day.Icon)" [alt]="day.Day.IconPhrase">
      <p>{{ day.Day.IconPhrase }}</p>
      <h4>
        {{ day.Temperature.Maximum.Value}}{{ getUnit() }} Hi /
        {{ day.Temperature.Minimum.Value }}{{ getUnit() }} Lo
      </h4>
    </div>
  </div>
</p-card>